body {
  background-color: lightblue;
  counter-reset: hand;
}

.hand {
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  position: absolute;
}

.hand:before {
  counter-increment: hand;
  content: 'Player 'counter(hand);
  position: absolute;
  left: 0;
  top: 0;
}
.horizontal {
  flex-flow: row wrap;
  left: 15vw;
  height: 170px;
  width: 70vw;
}
.horizontal .card {
  margin: 5px -40px 5px;
}
.vertical {
  flex-flow: column wrap;
  top: 5vh;
  height: 90vh;
  width: 150px;
}
.vertical .card {
  margin: -85px 5px 0;
}

#player1Hand {
  top: 0;
}
#player4Hand {
  bottom: 0;
}

#player2Hand {
  left: 0;
}
#player3Hand {
  right: 0;
}

.card {
  align-content: center;
  background-color: lightgoldenrodyellow;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 12px;
  height: 160px;
  overflow: hidden;
  padding: 10px;
  width: 140px; 
  z-index: 1;
}
.card:hover {
  z-index: 2;
}

.bigCard {
  align-content: center;
  background-color: lightgoldenrodyellow;
  box-sizing: border-box;
  height: 160px;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 170px;
  width: 300px; 
}

#story {
  background-color: lightgray;
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  left: 20vw;
  padding: 10px 20px;
  position: absolute;
  top: 350px;
  width: 60vw;
}
#story .card {
  margin: 5px;
}

#tellMe {
  left: 20vw;
}

#catchPhrase {
  position: absolute;
  left: 50vw;
}